p {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.collage {
    display: flex;
    justify-content: center;
}

.paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.paragraph img {
    width: 30%;
}

.p_close img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.guests * {
    font-family: "french_kiss";
    font-size: 80px;
    margin: -20px 0px;
}

.family {
    padding-top: 50px;
    padding-bottom: 50px;
}

.family * {
    font-family: "french_kiss";
    font-size: 140px;
    margin: -60px 0px;
}

.wedding-date {
    font-size: 40px;
    font-weight: bold;
}

.schedule {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.schedule-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.schedule-part p {
    margin: 10px auto;
}

.schedule-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 1px solid grey;
    padding: 5px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

@media (hover: hover) {
    .address:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .address:hover p {
        filter: invert(100%);
    }
    .address:hover img {
        filter: invert(100%);
    }
}

.address img {
    width: 30px;
    height: auto;
    object-fit: contain;
}

.address-text {
    display: flex;
    flex-direction: column;
}

.address-text p {
    margin: 5px;
}

.timing {
    width: fit-content;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid;
    padding: 10px;
}

.yandex_form {
    display: flex;
    justify-content: center;
    height: fit-content;
}
