<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/public/static/img/favicon.svg">
    {% endblock %}
    {% block title %}{% endblock %}
    {% block style %} {% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {% endblock %}
</head>
<body>

    <div class="wrapper">
        <div class="content">{% block content %}{% endblock %}</div>
    </div>

    <div class="modal"></div>
    {% block loaded_scripts %}{% endblock %}
</body>
</html>
