{% extends "/web/base.html" %}

{% if group.pronoun.value == "they" %}
    {% set appeal = "Дорогие" %}
    {% set guests_names = group.guest_1.full_name + " и " + group.guest_2.full_name  %}
{% elif group.pronoun.value == "he" %}
    {% set appeal = "Дорогой" %}
    {% set guests_names = group.guest_1.full_name %}
{% else %}
    {% set appeal = "Дорогая" %}
    {% set guests_names = group.guest_1.full_name %}
{% endif %}


{% block title %}
{% set title_text = "Приглашение на свадьбу Екатерины и Антона" %}
{% set description = appeal + " " + guests_names + ", приглашаем вас на свадьбу Екатерины и Антона!" %}
<title>{{title_text}}</title>
<meta name="title" content="{{title_text}}">
<meta property="og:title" content="{{title_text}}">
<meta name="twitter:title" content="{{title_text}}">
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
<meta name="twitter:description" content="{{description}}">
<meta name="image" content="https://свадьбакатяантон.рф/public/static/img/og-invite.jpg">
<meta property="og:image" content="https://свадьбакатяантон.рф/public/static/img/og-invite.jpg">
<meta name="twitter:image" content="https://свадьбакатяантон.рф/public/static/img/og-invite.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="url" content="https://свадьбакатяантон.рф/">
{% endblock %}


{% block style %}
{{ super() }}
<link rel='stylesheet' href="/public/static/css/web/invitation.css">
{% endblock %}


{% block content %}
<div class="collage">
    <img src="/public/static/img/collage.png" >
</div>

<div class="paragraph p_open">
    <img src="/public/static/img/break_line.png" >
</div>

<div class="greeting">
    <p class="appeal">{{appeal}}</p>
    <div class="guests">
        <p class="guests.unit">
            {{ group.guest_1.full_name }}
        </p>
        {% if group.is_couple %}
            <p> и </p>
            <p class="guests.unit">
                {{ group.guest_2.full_name }}
            </p>
        {% endif %}
    </div>
</div>

<div class="paragraph p_close">
    <img src="/public/static/img/break_line.png" >
</div>

<div class="invite">
    <p>С радостью приглашаем вас на свадьбу</p>
    <div class="family">
        <p class="family.unit">Екатерины</p>
        <p>и</p>
        <p class="family.unit">Антона</p>
    </div>
    <p class="wedding-date"> 15 июня </p>
</div>

<div class="paragraph p_open">
    <img src="/public/static/img/break_line.png" >
</div>

<div class="schedule">
    <div class="schedule-part">
        <p class="timing"> 11:40 </p>
        <p class="schedule-title">Торжественная регистрация</p>
        <a class="address" href="https://go.2gis.com/qbj8u4" target="_blank">
            <img src="/public/static/img/location.svg" >
            <div class="address-text">
                <p>Дворец бракосочетания №2</p>
                <p>Санкт-Петербург, ул. Фурштатская, д. 52</p>
            </div>
        </a>
    </div>
    <div class="schedule-part">
        <p class="timing"> 15:00 </p>
        <p class="schedule-title"> Трансфер от ЗАГСа до места проведения банкета</p>
    </div>
    <div class="schedule-part">
        <p class="timing"> 16:00 </p>
        <p class="schedule-title">Праздничный банкет</p>
        <a class="address" href="https://go.2gis.com/rtlgy" target="_blank">
            <img src="/public/static/img/location.svg" >
            <div class="address-text">
                <p>Загородный клуб "Иваново подворье"</p>
                <p>пос. Токсово, ул. Разъезжая, д. 13</p>
            </div>
        </a>
    </div>
</div>

<div class="paragraph p_close">
    <img src="/public/static/img/break_line.png" >
</div>

<div class="yandex_form">
    <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script>
    <iframe src="https://forms.yandex.ru/u/{{ group.form_id }}/?iframe=1"
            frameborder="0" name="ya-form-63e51085e010db03fcf56c23" width="650"></iframe>
</div>
{% endblock %}
