{% extends "/web/base.html" %}

{% if group.pronoun.value == "they" %}
    {% set appeal = "Дорогие" %}
    {% set guests_names = group.guest_1.full_name + " и " + group.guest_2.full_name  %}
{% elif group.pronoun.value == "he" %}
    {% set appeal = "Дорогой" %}
    {% set guests_names = group.guest_1.full_name %}
{% else %}
    {% set appeal = "Дорогая" %}
    {% set guests_names = group.guest_1.full_name %}
{% endif %}

{% block loaded_scripts %}
<script src="{{ static_url }}/public/static/scripts/invitation.js"></script>
{% endblock %}

{% block title %}
{% set title_text = "Приглашение на свадьбу Екатерины и Антона" %}
{% set description = appeal + " " + guests_names + ", приглашаем вас на свадьбу Екатерины и Антона!" %}
<title>{{title_text}}</title>
<meta name="title" content="{{title_text}}">
<meta property="og:title" content="{{title_text}}">
<meta name="twitter:title" content="{{title_text}}">
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
<meta name="twitter:description" content="{{description}}">
<meta name="image" content="{{ static_url }}/public/static/img/og.png">
<meta property="og:image" content="{{ static_url }}/public/static/img/og.png">
<meta name="twitter:image" content="{{ static_url }}/public/static/img/og.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="url" content="https://свадьбакатяантон.рф/">
{% endblock %}


{% block style %}
<link rel='stylesheet' href="{{ static_url }}/public/static/css/web/style.css">
<link rel='stylesheet' href="{{ static_url }}/public/static/css/web/invitation.css">
{% endblock %}


{% block content %}
<div class="collage">
    <img src="{{ static_url }}/public/static/img/collage_final.png" >
</div>

<div class="paragraph p_open">
    <img src="{{ static_url }}/public/static/img/break_line.png" >
</div>

<div class="greeting">
    <p class="appeal">{{appeal}}</p>
    <div class="guests">
        <p class="guests.unit">
            {{ group.guest_1.full_name }}
        </p>
        {% if group.is_couple %}
            <p> и </p>
            <p class="guests.unit">
                {{ group.guest_2.full_name }}
            </p>
        {% endif %}
    </div>
</div>

<div class="paragraph p_close">
    <img src="{{ static_url }}/public/static/img/break_line.png" >
</div>

<div class="invite">
    <p>С радостью приглашаем вас на свадьбу</p>
    <div class="family">
        <p class="family.unit">Екатерины</p>
        <p>и</p>
        <p class="family.unit">Антона</p>
    </div>

    <div class="wedding-date">
        <img src="{{ static_url }}/public/static/img/date.png" >
    </div>
</div>

<div class="paragraph p_open">
    <img src="{{ static_url }}/public/static/img/break_line.png" >
</div>

<div class="schedule">
    <div class="schedule-part">
        <p class="timing"> 11:40 </p>
        <p class="schedule-title">Торжественная регистрация</p>
        <a class="address" href="https://go.2gis.com/qbj8u4" target="_blank">
            <img src="{{ static_url }}/public/static/img/location.svg" >
            <div class="address-text">
                <p>Дворец бракосочетания №2</p>
                <p>Санкт-Петербург, ул. Фурштатская, д. 52</p>
            </div>
        </a>
    </div>
    <div class="schedule-part">
        <p class="timing"> 15:00 </p>
        <p class="schedule-title"> Трансфер от ЗАГСа до места проведения банкета</p>
    </div>
    <div class="schedule-part">
        <p class="timing"> 16:00 </p>
        <p class="schedule-title">Праздничный банкет</p>
        <a class="address" href="https://go.2gis.com/rtlgy" target="_blank">
            <img src="{{ static_url }}/public/static/img/location.svg" >
            <div class="address-text">
                <p>Загородный клуб "Иваново подворье"</p>
                <p>пос. Токсово, ул. Разъезжая, д. 13</p>
            </div>
        </a>
    </div>
</div>

<div class="paragraph p_close">
    <img src="{{ static_url }}/public/static/img/break_line.png" >
</div>

<div class="dress_code">
    <p class="dress_code_title">Дресс-код:</p>
    <p class="dress_code_text">Женщины в светлых тонах</p>
    <p class="dress_code_text">Мужчины в светлых или темных тонах</p>
</div>

<div class="gifts_ideas">
    <p class="gift_ideas_text">Идеи для подарков:</p>
    <p class="gift_ideas_text"><span class="emoji">&#128184;</span> или<span class="emoji">&#127870;</span> </p>
</div>

<div class="guest_form">
    <p class="guest_form_title">
        Опрос
    </p>
    {% if group.is_form_exists and not update_form%}
        <p class="guest_form_desc">
            Спасибо за ответы!
        </p>
        <input type="submit" value="Изменить ответы" name="save" id="restart-form-button" class="submit-form">
    {% else %}
        <p class="guest_form_desc">
            Здесь мы хотим собрать немного информации о наших гостях, чтобы организовать все наиболее комфортно.
        </p>
        <div class="guest_form_question">
            <p class="question"><span style="color: red">*</span>Главный вопрос: вы придете? :)</p>
            <div class="answer one_checkbox" id="answer_attend">
                <label><input type="checkbox" class="one_check" name="checkbox[1]" id="attend_yes"/>Да</label>
                <label><input type="checkbox" class="one_check" name="checkbox[1]" id="attend_no"/>Нет</label>
            </div>
        </div>
        {% if not group.is_couple %}
        <div class="guest_form_question">
            <p class="question">Если вы будете с парой, впишите, пожалуйста ее/его имя</p>
            <div class="answer">
                <input type="text" class="answer_name" placeholder="ФИО" id="plus_name"/>
            </div>
        </div>
        {% endif %}
        <div class="guest_form_question">
            <p class="question"><span style="color: red">*</span>Нужен ли вам трансфер до загородного клуба?</p>
            <div class="answer one_checkbox" id="answer_transfer">
                <label><input type="checkbox" class="one_check" name="checkbox[2]" id="transfer_yes"/>Да</label>
                <label><input type="checkbox" class="one_check" name="checkbox[2]" id="transfer_no"/>Нет</label>
            </div>
        </div>
        <div class="guest_form_question">
            <p class="question"><span style="color: red">*</span>Останетесь в загородном клубе на ночь?</p>
            <div class="answer one_checkbox" id="answer_sleepover">
                <label><input type="checkbox" class="one_check" name="checkbox[3]" id="sleepover_yes"/>Да</label>
                <label><input type="checkbox" class="one_check" name="checkbox[3]" id="sleepover_no"/>Нет</label>
            </div>
        </div>
        <input type="submit" value="Отправить" name="save" id="submit-form" class="submit-form">
    {% endif %}
</div>

{% endblock %}
